@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=cyrillic');
@import url("media.css");

html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
	font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    height: 100%;
    background-color: #fff;
    color: #4d4d4d;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

a * {
    text-decoration: none;
}

h1 {
	font-size: 150px;
	line-height: 119px;
}		

h2 {
	font-size: 45px;
	line-height: 40.5px;
}

h3 {
	font-size: 35px;
	letter-spacing: -0.4px;
}

h4 {
	font-size: 30px;
	line-height: 30px;
}

ul {
	list-style: none;
	padding-left: 0;
}

.bordered {
	border:1px solid;
	border-image: linear-gradient(45deg, #44d689 0%,#00ccff 100%);
	border-image-slice: 1;
}

/************************************ Face off ************************************/
.face,
.face-skulled {
	position: fixed;
	width: 935px;
	left: 46.7%;
	top: 0;
	height: 1029px;
}

.face {
	background: url("../img/face.png") 0 0 no-repeat;
	z-index: 100;
}

.face-skulled {
	background: url("../img/face-skulled.png") 0 0 no-repeat;
	z-index: 99;
}
/************************************ Face off ************************************/


/************************************ Header ************************************/
header {
	height: 857px;
	width: 100%;
	display: block;
	background: url("../img/bg-top.jpg") 0 0 no-repeat;
}

.header-inner-top {
	margin-left: -10px;
	margin-top: 55px;
}

.header-inner-top h3 {
	color: #fff;
	border-left: 7px solid #bd0c00;
	line-height: 25px;
	padding-left: 19px;
	letter-spacing: -0.3px;
	margin: 0 64px 0 -13px;
	display: inline-block;
}

.header-inner-top h3 span {
	font-weight: 700;
}

.header-phone, .header-email {
	display: inline-block;
	font-size: 20px;
	letter-spacing: -0.3px;
}

.header-phone {
	margin-right: 14px;
    margin-left: 8px;
}

.header-inner-title,
.header-inner-form {
	display: block;
	margin: 0 -14px;
}

.header-inner-title h1 {
	text-transform: uppercase;
	color: #2e5754;
	letter-spacing: -1.2px;
	margin-bottom: 58px;
}

.header-inner-title h1 span {
	font-weight: 700;
	color: #fff;
}

.header-inner-form {
	padding: 18px 25px 17px;
	background-color: rgba(46, 87, 84, .14);
	width: 89.5%;
}

.form {
	text-align: center;
}

.form-inputs {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;	
	margin-bottom: 17px;
}

::-webkit-input-placeholder {color:#8cbeb9;}
::-moz-placeholder          {color:#8cbeb9;}
:-moz-placeholder           {color:#8cbeb9;}
:-ms-input-placeholder      {color:#8cbeb9;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.header-inner-form h3 {
	color: #fff;
	margin-top: 0;
	text-align: center;
	margin-bottom: 26px;
}

.form input:not([type="submit"]) {
	width: 214px;
	color: #8cbeb9;
	font-size: 20px;
	padding: 9px 20px;
	text-align: center;
	border: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	outline: 0;
}

.form input[type="submit"] {
	background-color: #00f5a9;
	color: #2e5754;
	border: none;
	outline: none;
	padding: 9px 40px;
	font-size: 25px;
	letter-spacing: -0.4px;
	font-family: 'PT Sans Narrow', sans-serif;
}
/************************************ Header ************************************/


/************************************ Reasons ************************************/
.reasons-inner {
	margin-left: -15px;
	margin-bottom: 34px;
}

.reasons-inner h2,
.surgery-inner h2,
.comments-inner h2,
footer h2 {
    color: #00675f;
    font-weight: 700;
    margin-top: 36px;
    margin-bottom: 40px;
    border-left: 7px solid #bd0c00;
    padding-left: 16px;
    margin-left: -20px;
    letter-spacing: -0.5px;
}

.reasons-inner p {
	padding: 20px 43px 27px 29px;
	line-height: 24px;
    text-align: justify;
    letter-spacing: -0.3px;
	width: 96%;
}

.reasons-inner p b {
	font-weight: 700;
}

.reasons-inner h4 {
    color: #00675f;
    letter-spacing: -0.5px;
    font-weight: 700;
    letter-spacing: -0.4px;
    margin-top: 42px;
    margin-bottom: 32px;
}

.reasons-inner ul li:not(:last-child) {
	margin-bottom: 34px;
	line-height: 19px;
}

.reasons-inner ul li:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	background: url('../img/list-arrow.png') 0 0 no-repeat;
	padding-left: 20px;
	width: 8px;
	height: 15px;
}
/************************************ Reasons ************************************/


/************************************ Form block ************************************/
.form-block {
	display: block;
	position: relative;
	width: 100%;
	background: url('../img/form-bg1.png') center no-repeat;
	background-size: cover;
	z-index: 150;
	padding-bottom: 43px;
}

.form-block-inner {
	margin: 40px auto 0;
    width: 87%;
    padding: 26px 50px 20px;
}

.form-block-inner h3 {
	text-align: center;
	color: #fff;
	margin-top: 0;
	margin-bottom: 12px;
}

.form-block-inner p {
	text-align: center;
	margin: auto;
	width: 80%;
	color: #a9ddd9;
	margin-bottom: 18px;
	line-height: 26px;
    letter-spacing: -0.2px;
}

.form-block-inner input:not([type="submit"]) {
	width: 270px;
	text-align: left;
}

.form-block-inner input[type="submit"] {
	padding: 7px 40px;
}
/************************************ Form block ************************************/


/************************************ About ************************************/
.about {
	display: block;
	position: relative;
	z-index: 150;
	background: url('../img/about-bg.png') 0 0 no-repeat;
	background-size: cover;
	padding-top: 75px;
	padding-bottom: 32px;
}

.about-inner {
	margin: 0 -15px;
}

.about-inner-top {
	margin-bottom: 84px;
}

.about-inner-top-text h2 {
	margin-top: 0;
	margin-bottom: 20px;
	color: #fff;
	letter-spacing: -0.4px;
	font-weight: 700;
}

.about-inner-top-text h4 {
	color: #002422;
	letter-spacing: -0.4px;
}

.about-inner-top-desc {
	color: #fff;
	padding: 20px 34px 7px;
	float: right;
	width: 96%;
}

.about-inner-top-desc p {
	font-size: 19px;
	letter-spacing: -0.4px;
	text-align: justify;
	line-height: 23px;
}

.about-inner-plus {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: center;
	    justify-content: center;
}

.about-inner-plus-item {
	margin-bottom: 50px;
	-ms-flex-item-align: start;
	    align-self: flex-start;
	text-align: center;
	width: 32.5%;
}

.about-inner-plus-item-icon {
	display: inline-block;
	margin-bottom: 10px;
}

.about-inner-plus-item-text p {
	color: #fff;
	margin-bottom: 0;
	line-height: 18px;
}

.about-inner-plus-item-text em {
	font-size: 16px;
}

.about-inner-bottom {
	margin: 20px 0 33px;
	color: #00211f;
	font-size: 18px;
}

.about-inner-bottom p {
	text-align: justify;
	line-height: 23px;
    letter-spacing: -0.25px;
}

.about-inner-bottom-right,
.about-inner-bottom-left {
	width: 48.5%;
}

.about-inner-bottom-left {
	float: left;
}

.about-inner-bottom-right {
	float: right;
}
/************************************ About ************************************/


/************************************ Surgery ************************************/
.surgery {
	position: relative;
	display: block;
	z-index: 150;
	background-color: #fff;
}

.surgery-inner {
	display: block;
	margin: 0 -15px;
	width: 95.5%;
}

.surgery .surgery-inner h2 {
    margin-top: 58px;
    margin-bottom: 29px;
    letter-spacing: -0.8px;
}

.surgery-inner h4 {
	margin-top: 0;
	margin-bottom: 25px;
	letter-spacing: -0.4px;
}

.surgery-inner > p {
	padding: 20px;
	line-height: 22px;
	text-align: justify;
    margin-left: -20px;
    font-size: 18px;
    color: #4a8a83;
    margin-bottom: 28px;
}

.surgery-inner-plus,
.surgery-inner-list {
	margin-left: -20px;
}

.surgery-inner-plus {
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
}

.surgery-inner-plus-item {
	text-align: center;
	padding: 0 16px;
}

.surgery-inner-plus-item-icon {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding-top: 2px;
	font-size: 20px;
	font-weight: 700;
	width: 33px;
	height: 33px;
	background: rgba(111, 111, 111, .14);
	border-radius: 50%;
	margin-bottom: 5px;
}

.surgery-inner-plus-item p {
	font-size: 25px;
}

.surgery-inner-list-text {
	display: block;
	width: 75%;
}

.surgery-inner-list-text h5 {
	font-size: 21px;
	font-weight: 700;
	letter-spacing: -0.4px;
	color: #00675f;
	margin-top: 0;
}

.surgery-inner-list-text p {
	font-size: 18px;
	text-align: justify;
	color: #666;
	line-height: 21px;
}

.surgery-inner-list-icon {
	margin-right: 20px;
	display: inline-block;
}

.surgery-inner-list ul {
	margin-bottom: 27px;
}

.surgery-inner-list ul li {
	display: flex;
	margin-bottom: 17px;
}

.surgery-hover {
	position: absolute;
	left: 50%;
	width: 50%;
	top: 0;
	height: 1127px;
	overflow: hidden;
}

.surgery-img-after {
	height: 100px;
	position: relative;
	background: url('../img/about-surgery-after.jpg') 30% 0 no-repeat;
}

.surgery-img {
	height: 1027px;
	background: url('../img/about-surgery.jpg') 30% 100% no-repeat;
}

.mouse-over {
	position: absolute;
	cursor: pointer;
	left: 0;
	width: 100%;
	height: 54px;
	margin-top: -27px;
	background: url('../img/mouse-over.png') 0 0 no-repeat;
	background-size: cover;
}
/************************************ Surgery ************************************/


/************************************ Actions ************************************/
.actions {
	display: block;
	position: relative;
	z-index: 150;
	background: url('../img/action-bg.png') center bottom no-repeat;
	background-size: cover;
}

.actions-inner {
	margin: 58px 0 72px;
	display: flex;
    justify-content: space-around;
    text-align: center;
}

.actions-inner-item {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	position: relative;
}

.actions-inner-item:not(:last-child)::after {
	content: "";
	display: block;
	position: absolute;
	top: 35%;
	right: -125px;
	width: 66px;
	height: 26px;
	background: url('../img/action-arrow.png') 0 0 no-repeat;
}

.actions-inner-item p {
	color: #4a4a4a;
	letter-spacing: -0.4px;
}

.actions-inner-item-step {
	font-size: 30px;
	line-height: 20px;
	color: #879e9f;
	margin-bottom: 28px;
}

.actions-inner-item-icon1,
.actions-inner-item-icon2,
.actions-inner-item-icon3,
.actions-inner-item-icon4 {
	display: block;
	height: 103px;
	width: 88px;
	margin-bottom: 30px;
	transition: all 0.3s ease-in-out;
}

.actions-inner-item-icon1 {
	background: url('../img/action-icon-1.png') center no-repeat;
}

.actions-inner-item-icon1:hover {
	background: url('../img/action-icon-1-hover.png') center no-repeat;
}

.actions-inner-item-icon2 {
	background: url('../img/action-icon-2.png') center no-repeat;
}

.actions-inner-item-icon2:hover {
	background: url('../img/action-icon-2-hover.png') center no-repeat;
}

.actions-inner-item-icon3 {
	background: url('../img/action-icon-3.png') center no-repeat;
}

.actions-inner-item-icon3:hover {
	background: url('../img/action-icon-3-hover.png') center no-repeat;
}

.actions-inner-item-icon4 {
	background: url('../img/action-icon-4.png') center no-repeat;
}

.actions-inner-item-icon4:hover {
	background: url('../img/action-icon-4-hover.png') center no-repeat;
}
/************************************ Actions ************************************/


/************************************ Form block 2 ************************************/
.form-block-2 {
	margin-top: -25px;
	background: url('../img/form-bg2.png') center no-repeat;
	background-size: cover;
}
/************************************ Form block 2 ************************************/


/************************************ Comments ************************************/
.comments {
	display: block;
	background: #fff;
	position: relative;
	z-index: 150;
	padding-bottom: 86px;
}

.comments-inner-title {
    width: 65%;
}

.comments-inner-title h2 {
	margin-top: 88px;
	margin-bottom: 30px;
}

.comments-inner-title h4 {
	margin-top: 0;
}

.comments-inner-slider {
    margin: 46px -30px 0;
}

.comments-inner-slider-item {
	color: #5d5d5d;
	margin: 0 30px;
	outline: 0;
}

.comments-inner-slider-item p {
	font-size: 18px;
	text-align: justify;
    line-height: 22px;
    letter-spacing: -0.3px;
    margin-bottom: 15px;
}

.comments-name {
	font-size: 25px;
	margin-top: 15px;
}

.slick-prev, .slick-next {
	width: 29px;
	height: 58px;
	background: url('../img/comments-arrows.png') no-repeat;
	background-size: cover;
}

.slick-prev {
	background-position: 0 0;
	left: -30px;
}

.slick-next {
	background-position: 100% 0;
	right: -30px;
}

.slick-prev:hover {
	background-position: -29px 0;
} 

.slick-next:hover {
	background-position: -58px 0;
}

.slick-prev:before, .slick-next:before {
	opacity: 1;
	content: "";
	display: none;
}
/************************************ Comments ************************************/


/************************************ Docs ************************************/
.docs {
	display: block;
	z-index: 150;
	position: relative;
	background: url('../img/docs-bg.png') center no-repeat;
	background-size: cover;
}

.docs-inner {
	margin: 30px -15px 46px;
}

.docs-inner-slider {
	margin-bottom: 30px;
}

.docs-inner-slider .docs-inner-slider-item {
	margin: 0 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 0;
}

.doc-inner-download {
	display: block;
	margin: auto;
	width: 273px;
	line-height: 42px;
	text-align: center;
	color: #5d5d5d;
	border: 1px solid  #5d5d5d;
}

.doc-inner-download:hover,
.doc-inner-download:focus {
	text-decoration: none;
	color: #00675f;
	border: 1px solid  #00675f;
}
/************************************ Docs ************************************/


/************************************ Footer ************************************/
footer {
	position: relative;
	z-index: 149;
	background: #fff;
	margin-top: -25px;
	height: 514px;
}

.footer-inner {
	margin: 0 -15px;
}

.footer-inner h2 {
	margin-bottom: 25px;
	margin-top: 92px;
}

.footer-inner-info {
	font-size: 25px;
}

.footer-inner-info a {
	text-decoration: none;
	color: #4d4d4d;
	border-bottom: 1px dotted #4d4d4d;
}

.footer-inner-info a:hover {
	border-bottom: none;
	color: #00675f;
}

.info-name {
	font-weight: 700;
	margin-right: 15px;
}

.map {
	background: rgba(36, 61, 62, 1);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 50%;
	overflow: hidden;
}

.map-cover {
	position: absolute;
	y: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .5;
	transition: opacity 0.3s ease-in-out;
}

.map-cover:hover {
	opacity: 1;
}

.marker {
	width: 144px;
	height: 208px;
	position: absolute;
	top: 35%;
	left: 50%;
	margin-left: -72px;
	display: block;
	background: url('../img/marker.png') center no-repeat;
	background-size: 100%;
}

.footer-inner-icons {
	margin-top: 45px;
}

.footer-inner-icons a {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin-right: 3%;
}

.footer-inner-icons a svg {
	display: block;
	height: 64px;
	width: 64px;
	fill: #00675f;
	transition: all 0.4s ease-in-out;
}

.footer-inner-icons a:hover svg {
	fill: #009c90;
}